<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <img src="/img/ginger-cat.jpg" alt="Ginger cat" class="portrait">
    </div>
    {{>footer}}
  </body>
</html>